    /*css file is fit to chrome an firefox*/
    
    html {
        height: 100%;
    }
    
    body {
        display: flex;
        background-color: #F9F9F9;
        height: 90%;
        align-items: center;
        justify-content: center;
    }
    
    .container {
        display: flex;
        height: 80%;
        width: 30%;
        box-sizing: border-box;
        margin: 5% 5rem;
        border-radius: 5px;
        border: 1px solid #EFEFEF;
        flex-wrap: wrap;
    }
    
    .chat-form {
        display: inline-flex;
        height: 40%;
        background-color: #EFEFEF;
        width: 100%;
        /*border: 1px solid blue;*/
    }
    
    .chat-box {
        display: flex;
        /*border: 3px solid yellow;*/
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 2%;
    }
    
    .chat-form-control {
        display: inline-flex;
        height: 25px;
        font-size: 5rem;
        margin: 0.25rem;
        align-content: space-around;
        /*border: 1px solid red;*/
        width: 80%;
    }
    
    input {
        display: flex;
        width: 100%;
        top-padding: 5px;
        text-align: left;
        padding-left: 5px;
    }
    
    .flex1 {
        margin-top: 20px;
        height: 25px;
    }
    
    .flex2 {
        -webkit-flex: 2 1 30%;
        flex: 2 1 30%;
    }
    
    .flex3 {
        width: 15%;
        align-self: flex-end;
    }
    
    button[type="button"] {
        display: inline-block;
        margin: 0 10px 0 0;
        appearance: none;
        width: 100%;
        background-color: #3fa9db;
        line-height: 1.8;
        appearance: none;
        box-shadow: none;
        border-radius: 0;
        border: 0px;
        border-radius: 3px;
        color: #fff;
    }
    
    textarea {
        width: 100%;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: left;
        padding-left: 5px;
        padding-top: 5px;
    }
    
    .comments-section {
        display: flex;
        flex-direction: column;
        height: 60%;
        background-color: #FFFFFF;
        width: 100%;
        align-items: center;
    }
    
    .chat-comments {
        display: inline-flex;
        justify-content: center;
		align-items: center;
        flex-direction: row;
        align-items: center;
        width: 80%;
        margin: 2%;
        font-family: sans-serif;
		
    }
    
    .wrap {
        display: flex;
        width: auto;

    }
    
    .cell {
        width: 100%;


    }
    
    .email {
        font-weight: bold;
        padding bottom: 3px;
        width: 100%;


    }
    
    .message {
        width: 100%;
    }
    
    #email {
        font-weight: bold;
    }
    
    .wrap chat-comments {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
    }
    
    .gravatar {
        display: flex;
    }
	
	.chat-message {
        flex-direction: column;
		width:100%;
	}
	
	img {
	border-radius: 4px;
	}
